<h1> All Plots with I.D.'s and Plants Associated with those Plots </h1>
<% @plots.each do |plot|%>
    <p> Plot Number:  <%= plot.number%> </p>
      <% plot.plants.each do |plant|%>
        <section id="plants-<%= plant.id %>">
          <p> Plants Associated with this Plot: <%= plant.name%> <%= link_to "Remove Plant", %> </p>
        </section>
      <% end %>
<% end %>